table {
    position: relative;
    top: 20px;
    left: 120px;
    border-collapse: collapse;
    width: 80%;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
th {
    background-color: rgb(8, 148, 118);
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 10px;
    cursor: context-menu;
    font-size: 18px;
}
td {
    padding: 10px;
    cursor: context-menu;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gclogo img {
    width: 90px;
    top: 2px;
    left: 20px;
    position: absolute;
    float:  right;
}

.gclogo h3 {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 12px;
    font-size: 45px;
    left: 120px;
    font-family: 'Oswald', sans-serif;
    color: rgb(14, 78, 64);
    cursor: context-menu;
}

nav {
    position: relative;
    background-color: white;
    height: 90px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.button {
    background-color: white;
    font-size: 18px;
    float: right;
    padding: 10px 17px;
    border: none;
    margin: 10px;
    margin-top: 28px;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    outline-style: none;
}

#logout input {
    background-color: rgb(211, 68, 68);
    color: white;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    float: right;
    padding: 8px 23px;
    border: none;
    border-radius: 5px;
    margin-top: 27.5px;
    outline-style: none;
}

#logout input:hover {
    background-color: rgb(165, 35, 35);
    color:white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(12, 136, 109);
    color:white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

#panel {
    background-color: rgb(12, 136, 109);
    color: white;
}

#check {
    max-width: 20px;
    max-height: 25px;
    float: left;
    display: none;
}


